---
---
---

# Data Analysis

---
---
---

<br>

## Dependencies

### Packages

In [1]:
import pandas as pd

from lib.data_profiling import profile_data

### Dataset

In [2]:
# Importing data
df = pd.read_csv('../data/meteorite_landings.csv')

# -------------------------

df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

## Data Profiling

In [3]:
# Profiling the data
profile_data(df, file_name='data-profiling', report_title='Meteorite Landings Dataset')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 10/10 [00:00<00:00, 35.80it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Preprocessing

In [4]:
# ...

## Feature Engineering

In [5]:
# ...

## Machine Learning

In [6]:
# ...